
.calculadora{
    background-color: rgb(241, 185, 112);
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.inputs{
    display: flex;
    flex-direction: row;
}

label{
    font-size: small;
    /* background-color: aqua; */
    width: 7rem;
}

.operators{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

button{
    width: 2.5rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: large;
}

.result{
    display: none;
}